@media only screen and (max-width: 1089px) {
.detailContent{
    display: flex;
    flex-wrap: wrap;
}
}

.container{
    /* background: #7456FF;
opacity: 0.05; */
}

.detailContainer{
   background:  #1D1B24;
    /* opacity: 0.05; */
}
.detailContent{
    padding: 110px;
    /* max-width: 1100px; */
    display: flex;
    gap:20px;
    justify-content: center;
    /* padding: 100px; */
    /* padding: 50px; */
}
.detailContent div{
    padding-top: 60px;
    min-width: 255px;
    min-height: 223px;
    text-align: center;
    box-sizing: border-box;
    border: 1px dashed #FFFFFF;
border-radius: 5px;
}
.detailp1{
    font-weight: 600;
font-size: 48px;
line-height: 72px;


/* text-align: center; */

color: #FFFFFF;

}
.detailp2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* text-align: center; */
    
    color: #FFFFFF;
}
.completeProject{
    background: #7456FF;
}
.myProject{
    /* padding-left: -50px; */
    /* position: relative; */
    background: linear-gradient(100.67deg, #0f0f0f 7.93%, #060021 100%);
    font-weight: 600;
    font-size: 10vw;
    line-height: 300px;
    
    
    overflow: hidden;
    
}
.myProject p{
    margin-left: -70px;
    color: #0C0C0D;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #FFFFFF;
    
    /* border: 1px solid white; */
 }